/* ========================================
   GLOBAL RESET
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit;
    scroll-behavior: smooth;
}


/* ========================================
   HTML / BODY
======================================== */

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    background: #ffffff;
}


/* ========================================
   ROOT
======================================== */

#root {
    width: 100%;
    min-height: 100vh;
}


/* ========================================
   LINKS
======================================== */

a {
    text-decoration: none;
    color: inherit;
}


/* ========================================
   BUTTON / INPUT
======================================== */

button,
input {
    font-family: inherit;
}


/* ========================================
   APP
======================================== */

.app {
    width: 100%;
}


/* ========================================
   HOME / CART
======================================== */

.home,
.cart {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}